h1 {
  font-family: UnifrakturMaguntia;
  text-align: center;
  color: 074799;
  font-size: 100px;
}



.Tripp7-div{
  background-color: #00ff73;
  border-radius: 12px;
  
}

h2{
  text-align: center;
}