h1 {
  font-family: UnifrakturMaguntia;
  text-align: center;
  color: 074799;
  font-size: 100px;
}

body {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap:9px;
  margin: 0;
}

.Tripp7-div {
  background-color: #00ff73;
  padding: 20px;
}

h2 {
  text-align: center;
  font-family: UnifrakturMaguntia;
  font-size: 40px;
}

.tripp7beats{
  width: 100%;
}

.video{
  width: 100%;
}

audio{
  width: 100%;
}
